<footer>
    <div class="container footer-div">
        <div class="row col-lg-12 footer-title"> Contáctanos</div>
        <div class="row col-lg-12 footer-icons">
            <button type="button" class="text-center footer-icon-text"><span class="glyphicon glyphicon-phone fa-5x"></span><br>Correo electrónico</button>
            <button type="button" class="text-center footer-icon-text"><span class="glyphicon glyphicon-earphone fa-5x"></span><br>Regresamos tu llamada</button>
            <button type="button" class="text-center footer-icon-text"><span class="glyphicon glyphicon-phone-alt fa-5x"></span><br>Contacto telefónico</button>
            <button type="button" class="text-center footer-icon-text"><span class="glyphicon glyphicon-earphone fa-5x"></span><br>Llamada web</button>
            <button type="button" class="text-center footer-icon-text"><span class="glyphicon glyphicon-cd fa-5x"></span><br>Redes sociales</button>
        </div>
        <div class="col-lg-12 footer-links ">
            <a href="#" class="btn footer-link">Conoce a GOV.CO</a>
            <a href="#" class="btn footer-link">Términos de uso</a>
            <a href="#" class="btn footer-link">Términos de uso</a>
        </div>
    </div>
</footer>
