<div col-md-12 >
    <div class="header-franja1"> Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer. </div>
    <div class="header-franja2">
        <div class="col-lg-9">
            GOV.CO
        </div>
        <div class="col-lg-2 form-group" style="color: white">
            <input type="text" class="form-control header-franja2-buscar" placeholder="Buscar" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
              
        </div>
        <div class="col-lg-1">

        </div>
    </div>
    <div class="header-menu">
        <div class="header-menu-group center-block">
            <a href="#" class="btn header-menu-item">TRAMITES Y SERVICIOS</a>
            <a href="#" class="btn header-menu-item">PARTICIPACION</a>
            <a href="#" class="btn header-menu-item">ENTIDADES</a>
            <a href="#" class="btn header-menu-item">NOTICIAS</a>
        </div>
    </div>
    <div class="header-banner"> 
        <div class="header-banner-items">
            <div class="header-banner-text1">¡Te damos la bienvenida!</div>
            <div class="header-banner-search">
                <input type="text" class="form-control" placeholder="Encuentra aquí lo que buscas" />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div class="header-banner-text2">Toda la oferta del Estado colombia a tu alcande</div>
        </div>
    </div>
</div>
